#
# Copyright (c) Siemens AG, 2022
# Copyright (c) 2021, Mentor Graphics, a Siemens business
#
# Authors:
#  Felix Moessbauer <felix.moessbauer@siemens.com>
#
# This file is subject to the terms and conditions of the MIT License.
# See COPYING.MIT file in the top-level directory.

Source: pycoral
Maintainer: Mentor Embedded <embedded_support@mentor.com>
Section: science
Priority: optional
Build-Depends: debhelper-compat (=13),
               bazel-bootstrap:native (>= 4.1.0),
               bazel-bootstrap-data,
               git,
               dh-python,
               libabsl-dev,
               libcurl4-openssl-dev,
               libdouble-conversion-dev,
               libgif-dev,
               libgrpc++-dev (>= 1.23~),
               libgrpc-dev (>= 1.23~),
               libjsoncpp-dev,
               libsnappy-dev,
               libdnnl-dev [amd64 arm64 ppc64el s390x],
               libnsync-dev,
               libpng-dev,
               libjpeg62-turbo-dev (>= 2.0~),
               protobuf-compiler (>= 3.12~),
               protobuf-compiler-grpc (>= 1.30~),
               libprotobuf-dev (>= 3.8~),
               libprotoc-dev (>= 3.8~),
               libflatbuffers-dev (>= 1.12~),
               pybind11-dev (>= 2.6.2~),
               nasm,
               libpython3-all-dev,
               python3-all-dev:any,
               python3-flatbuffers,
               python3-future,
               python3-keras:native,
               python3-keras-applications:native,
               python3-keras-preprocessing:native (>= 1.1.2),
               python3-opt-einsum:native (>= 3.3.0),
               python3-mock:native,
               python3-numpy:native,
               python3-pip:native,
               python3-setuptools,
               python3-tqdm:native,
               python3-wheel:native,
               python3-absl:native,
               python3-protobuf:native (>= 3.9.2),
               python3-astunparse:native (>= 1.6.3),
               python3-gast:native (>= 0.3.3),
               symlinks,
               wget,
               zlib1g-dev,
               libedgetpu-dev
Standards-Version: 4.5.0
Homepage: https://coral.ai/

Package: pycoral-examples
Architecture: all
Depends: python3-pycoral (= ${binary:Version}),
         ${misc:Depends}
Description: Example code for Coral Python API
 Python examples to demonstrate how to use the Coral Python API

Package: python3-pycoral
Architecture: any
Depends: libc6,
         libedgetpu1-std (>= 16.0) | libedgetpu1 (>= 16.0),
         libgcc1,
         libstdc++6,
         python3-numpy,
         python3-pil,
         python3-flatbuffers (>= 1.12.0),
         python3-tflite-runtime (>= 2.5.0),
         ${misc:Depends},
         ${shlibs:Depends},
         ${python3:Depends}
Description: Coral Python API
 Python library for interfacing with the Edge TPU on various Coral products
